ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0759ad;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.I {
  color: #fff;
  height: 50px;
}
.cart {
  margin-left: 60rem;
  margin-top: 1rem;
}
